ask3/webApp3/WebContent/wsdl/BVCatalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://BVShop" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://BVShop" xmlns:intf="http://BVShop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://BVShop" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="addV">
    <complexType>
     <sequence>
      <element name="vObj" type="impl:VehicleBean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="MotorBean">
    <sequence>
     <element name="MCc" nillable="true" type="xsd:string"/>
     <element name="MNo_cylinders" nillable="true" type="xsd:string"/>
     <element name="MPs" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="VehicleBean">
    <sequence>
     <element name="VManufacturer" nillable="true" type="xsd:string"/>
     <element name="VModel" nillable="true" type="xsd:string"/>
     <element name="VYear" nillable="true" type="xsd:string"/>
     <element name="motor" nillable="true" type="impl:MotorBean"/>
    </sequence>
   </complexType>
   <element name="addVResponse">
    <complexType/>
   </element>
   <element name="getVehicleBean">
    <complexType>
     <sequence>
      <element name="model" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleBeanResponse">
    <complexType>
     <sequence>
      <element name="getVehicleBeanReturn" type="impl:VehicleBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="listV">
    <complexType/>
   </element>
   <element name="listVResponse">
    <complexType>
     <sequence>
      <element name="listVReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="delV">
    <complexType>
     <sequence>
      <element name="model" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delVResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://BVShop"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getVehicleBeanResponse">

      <wsdl:part element="impl:getVehicleBeanResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addVResponse">

      <wsdl:part element="impl:addVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delVResponse">

      <wsdl:part element="impl:delVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delVRequest">

      <wsdl:part element="impl:delV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listVResponse">

      <wsdl:part element="impl:listVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addVRequest">

      <wsdl:part element="impl:addV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listVRequest">

      <wsdl:part element="impl:listV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleBeanRequest">

      <wsdl:part element="impl:getVehicleBean" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BVCatalog">

      <wsdl:operation name="addV">

         <wsdl:input message="impl:addVRequest" name="addVRequest">

       </wsdl:input>

         <wsdl:output message="impl:addVResponse" name="addVResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleBean">

         <wsdl:input message="impl:getVehicleBeanRequest" name="getVehicleBeanRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleBeanResponse" name="getVehicleBeanResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listV">

         <wsdl:input message="impl:listVRequest" name="listVRequest">

       </wsdl:input>

         <wsdl:output message="impl:listVResponse" name="listVResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delV">

         <wsdl:input message="impl:delVRequest" name="delVRequest">

       </wsdl:input>

         <wsdl:output message="impl:delVResponse" name="delVResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BVCatalogSoapBinding" type="impl:BVCatalog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleBean">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleBeanRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleBeanResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BVCatalogService">

      <wsdl:port binding="impl:BVCatalogSoapBinding" name="BVCatalog">

         <wsdlsoap:address location="http://localhost:8080/webApp3/services/BVCatalog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
