ask3/webApp3/WebContent/wsdl/VCatalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server" xmlns:intf="http://server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="addV">
    <complexType>
     <sequence>
      <element name="carModel" type="xsd:string"/>
      <element name="carMaker" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addVResponse">
    <complexType/>
   </element>
   <element name="getMaker">
    <complexType>
     <sequence>
      <element name="carModel" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMakerResponse">
    <complexType>
     <sequence>
      <element name="getMakerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listV">
    <complexType/>
   </element>
   <element name="listVResponse">
    <complexType>
     <sequence>
      <element name="listVReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listVRequest">

      <wsdl:part element="impl:listV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addVRequest">

      <wsdl:part element="impl:addV" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listVResponse">

      <wsdl:part element="impl:listVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMakerResponse">

      <wsdl:part element="impl:getMakerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addVResponse">

      <wsdl:part element="impl:addVResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMakerRequest">

      <wsdl:part element="impl:getMaker" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VCatalog">

      <wsdl:operation name="addV">

         <wsdl:input message="impl:addVRequest" name="addVRequest">

       </wsdl:input>

         <wsdl:output message="impl:addVResponse" name="addVResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaker">

         <wsdl:input message="impl:getMakerRequest" name="getMakerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMakerResponse" name="getMakerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listV">

         <wsdl:input message="impl:listVRequest" name="listVRequest">

       </wsdl:input>

         <wsdl:output message="impl:listVResponse" name="listVResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VCatalogSoapBinding" type="impl:VCatalog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaker">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMakerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMakerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listV">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listVRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listVResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VCatalogService">

      <wsdl:port binding="impl:VCatalogSoapBinding" name="VCatalog">

         <wsdlsoap:address location="http://localhost:8080/webApp3/services/VCatalog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
